form {
    display: inline-grid;
    grid-template-columns: auto auto;
    background-color: var(--color-100);
    gap: 1em;
}

label {
    text-align: right;
    color: var(--color-900);
    align-self: center;
}

input[type="submit"] {
    grid-column: 1 / span 2;
    margin: auto;
}

div.error-message {
    grid-column: 1 / span 2;
    color: red;
    font-size: 0.8em;
    text-align: center;
}