<table *ngIf="figures$ | async as figures; else waiting">
    <thead>
        <tr>
            <th colspan="3">Figuras</th>
        </tr>
        <tr>
            <th>Denominación</th>
            <th>Cantidad</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let figure of figures">
            <td (click)="emitFigureSelected(figure.uuid)">{{figure.denomination}}</td>
            <td (click)="emitFigureSelected(figure.uuid)">{{figure.quantity}}</td>
            <td (click)="emitFigureSelected(figure.uuid)">
                <img src="http://localhost:8082/assets/{{figure.image}}">
            </td>
        </tr>
    </tbody>
</table>

<ng-template #waiting>
    <spinner-waiting></spinner-waiting>
</ng-template>
