<section class="title-app">
    <div>Playmobil</div>
</section>

<section *ngIf="statusManagementService.loggedUser$ | async" class="menu-options">
    <div routerLink="/series">Series</div>
    <div routerLink="/boxes">Cajas</div>
    <div routerLink="/figures">Figuras</div>
</section>

<section class="session-management">
    <div class="fullname" *ngIf="statusManagementService.loggedUser$ | async as user">{{user.firstname + ' ' + user.lastname}}</div>
    <input type="button" value="Cerrar sesión" *ngIf="statusManagementService.loggedUser$ | async" (click)="closeSession()">
    <input type="button" [hidden]="statusManagementService.loggedUser$ | async" value="Abrir sesión" (click)="gotoLoginPage()">
</section>